.container {

}

.previous {
  background-image: url("http://andreas-schaefer.bplaced.net/img/prev.png");
  cursor: pointer;
  margin: 12px;
}

.next {
  background-image: url("http://andreas-schaefer.bplaced.net/img/next.png");
  cursor: pointer;
  margin: 12px;
}

.spacer {
  width: 64px;
  height: 64px;
  margin: 12px;
}
